<!DOCTYPE html>
<html style="background-color: #FFE1DB;" id="page-container">
    <link href="/static/styles/style.css" rel="stylesheet">
    <body id="content-wrapper">
        <h1>Welcome to Playlist Visionboard</h1>
        <h2>
            <form action="/loading" method="post">
                <p>
                    <label for="spoitfy id">Album or Playlist Spotify ID</label>
                </p>
                <p>
                    <input type="text" id="spotify id" name="spotify id">
                </p>
                <p>
                    <label for="typeofid">Is this an Album or a Playlist?</label>
                </p>
                <p>
                    <input type="radio" id="album" name="typeofid" value="album">
                    <label for="album">Album</label>
                </p>
                <p>
                    <input type="radio" id="playlist" name="typeofid" value = "playlist">
                    <label for="playlist">Playlist</label>
                </p>
                <p><input type="submit" value="Submit" style="font-family:monospace;"></p>
            </form>
        </h2>
    </body>
    <footer>Example: In https://open.spotify.com/album/3lS1y25WAhcqJDATJK70Mq, the string after /album/ is the ID! <br>
        This program will likely take a few minutes or longer depending on the number of songs in the playlist. <br><br>
        Olivia Yau HCDE 310 Project</footer>
</html>