<!DOCTYPE html>
<html style="background-color: #FFE1DB;" id="page-container">
    <link href="/static/styles/style.css" rel="stylesheet">
    <body id="content-wrapper">
        <h1>Welcome to Playlist Visionboard</h1>
        <h2>
            <ul>
                {% if cwlist|length%}
                    {% for word in cwlist %}
                    <li> <p>{{word}}</p>
                    </li>
                    {% endfor %}
                {% else %}
                    <h3>Error: No results found for the search query.</h3>
                {% endif %}
            </ul>
        </h2>
    </body>
    <footer>Olivia Yau HCDE 310 Project</footer>
</html>