<!DOCTYPE html>
<html style="background-color: #FFE1DB;" id="page-container">
    <link href="/static/styles/style.css" rel="stylesheet">
    <body id="content-wrapper">
        <h1>Welcome to Playlist Visionboard</h1>
        <h2>
            <p>This is the list of repeated words in this album/playlist.</p>
            <p>{{cwlist}}</p>
            <p>
                <form action="/images" method="post">
                    <p><input type="submit" value="Continue" style="font-family:monospace;"></p>
                </form>
            </p>
        </h2>
    </body>
    <footer>Olivia Yau HCDE 310 Project</footer>
</html>